*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-image: url("../img/ping-pong.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
  background-color: #CBBEB5;
  opacity: 1px;
}
h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 18px;
  margin-top: 15%;
  margin-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
}
.well {
  margin: 0 20% 15% 20%;
  padding: 80px;
  opacity: .9;
}
h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 3px;
}
label {
  font-size: 20px;
}
@media query {

}
